body {
  font-family: 'Open Sans Condensed';
  /* padding: 20px 40px; */
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-wrap{
  flex: 1;
}
.sort{
display:flex;
padding:1rem;
margin:1rem;
border-bottom:0.1rem #c0c0c0 solid;
/* justify-content: space-between; */
}
.sort div{
flex: 1;
}